:root {
    --primary: #b6895b;
    --bg: #010101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.navbar .navbar-logo span {
    color: var(--primary);
    font-style: italic;
}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}

/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/header-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1, 1, 3, 0.5)); /* Penyesuaian latar belakang linear gradient */
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 3.4rem;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1;
}

.hero .content p {
    font-size: 1.3rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 250;
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #010101;
    background-color: blanchedalmond;
    background-size: 0.1rem;
    font-weight: 600;
    font-style: italic;
    opacity: 0.9;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/*  About Section */
.about, .menu .contact {
    padding: 2rem 7% 1.4rem;
}

.about h2, .menu h2, .contact h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.about h2 span, .menu h2 span, .contact h2 span {
    color: darkcyan;
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
    width: 95%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.about .row .about-img img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
    text-align: center;
}

.content h3 {
    text-align: center;
    margin-top: 1%;
}

.content p {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
}

.menu h2, .contact h2 {
    margin-bottom: 0;
}
.menu p, .contact p {
    text-align: center;
    max-width: 70rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
}

.menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
}

.menu .row .menu-card {
    text-align: center;
    padding: 2rem; /* Menambahkan ruang di sekitar setiap menu card */
    margin: 1rem; /* Menambahkan jarak di antara menu card */
    border: 1px solid #ccc; /* Menambahkan garis tepi pada setiap menu card */
    border-radius: 8px; /* Membuat sudut menu card menjadi lebih bulat */
    width: calc(25% - 2rem); /* Menentukan lebar menu card (4 menu per baris) */
}

.menu .row .menu-card img {
    border-radius: 50%;
    width: 80%;
}

.menu .row .menu-card .menu-card-title {
    margin-top: 1rem; /* Merapikan margin atas judul */
}

/* Contact Section */
.contact .row {
    display: flex;
    margin-top: 2rem;
    background-color: #222;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: #010101;
    border: 1px solid #eee;
    padding-left: 2rem;
}

.contact .row form .input-group input {
    width: 80%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
    color: #fff;
}

.contact .row form .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: cadetblue;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: darkslategray;
    text-align: center;
    padding: 2rem 0; /* Meningkatkan padding atas dan bawah */
    margin-top: 3rem;
}

footer .socials {
    margin-top: 1rem; /* Memberikan sedikit margin atas */
}

footer .socials a {
    text-decoration: none; /* Menghilangkan garis bawah pada tautan */
    color: #fff; /* Warna teks putih */
    margin: 0 0.5rem; /* Memberikan jarak horizontal antara ikon */
    font-size: 1.5rem; /* Ukuran font ikon */
    transition: color 0.3s; /* Efek transisi warna saat mengarahkan kursor */
}

footer .socials a:hover, footer .links a:hover {
    color: maroon;
}

footer .links {
    margin-bottom: 1.4rem;
}

footer .links a {
    color: #fff;
    padding: 0.7rem 1rem;
    font-weight: bolder;
}

footer .credit {
    font-size: 1rem;
}

footer .credit a {
    color: maroon;
    font-weight: bolder;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 100%; /* Reset font size to default (100%) */
    }

    #hamburger-menu {
        display: none; /* Hide the hamburger menu on laptops */
    }

    .navbar .navbar-nav {
        position: static; /* Reset position to static for laptop screens */
        background-color: transparent; /* Reset background color for laptop screens */
        width: auto; /* Reset width to auto for laptop screens */
        height: auto; /* Reset height to auto for laptop screens */
        transition: none; /* Remove transition on laptop screens */
    }

    .navbar .navbar-nav a {
        color: #fff;
        display: inline-block;
        margin: 0 1rem;
        padding: 0;
        font-size: 1.3rem;
    }

    .navbar .navbar-nav a::after {
        content: none; /* Remove the underline on laptop screens */
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
}

/* Mobile Phone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}